<%- include partials/_header %>
<article>
  <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
    <h2>Edit Short URL</h2>
    
    <label>Short URL: </label>
    <h3><a href="/u/<%= shortURL %>"><%= shortURL %></a></h3>
    
     <label for="url">Long URL: 
      <input type="text" name="url" value="<%= longURL %>"required="required" />
    </label>
    
    <button class="button" type="submit">Update</button>
    
  </form>
  
  <ul class="log accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Statistics</a>
      
      <div class="accordion-content" data-tab-content>
        <div>Visits: <%= visits.length %></div>
        <div>Unique visitors: <%= uniqueVisits %></div>

        <h4>Visit History (ip, time)</h4>
        <% if (visits.length) { %>
        <ol>
          <% visits.forEach((v) => { %>
            <li><%= v.id %>, <%= v.time %></li>
          <% }) %>
          
        </ol>
        <% } else { %>
          <div>No visitors yet.</div>
        <% } %>
      </div>
    </li>
  </ul>
</article>
<%- include partials/_footer %>