<%- include('partials/_header', {user: user}) %>
<article>
  <h2>URL List</h2>
  <% if (urls) { %>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Full URL</th>
        <th>Controls</th>
      </tr>
      <% for (let key in urls) { %>
      <tr>
        <td><strong><a href="/u/<%= key %>"><%= key %></a></strong></td>
        <td><a href="<%= urls[key].link %>"><%= urls[key].link %></a></td>
        <td>
          <form method="POST" action="/urls/<%= key %>?_method=DELETE">
            <a class="button small hollow" href="/urls/<%= key %>">Edit</a>
            <button class="button small hollow alert" type="submit">Delete</button>
          </form>
        </td>

      </tr>
      <% } %>
    </table>
  <% } %>
  <% if (!user) { %>
    <p>Welcome to <strong>SuperCoolUrlShortener</strong>! <a href="/login">Login</a> or <a href="/register">register</a> to create shorter links!</p>
  <% } else if (!urls) { %>
    <p>You currently don't have any shortened URLs. Click <a href="/urls/new">here</a> to create one.</p>
  <% } %>
  
  <% if (user) { %>
    <a class="button hollow" href="/urls/new">Add a new link</a>
  <% } %>
</article>
<%- include partials/_footer %>
