<%- include('partials/_header', {user: user}) %>
<ul>
  <% for (let key in urls) { %>
  <li>
    <code><strong><%= key %>:</strong> <a href="<%= urls[key].link %>"><%= urls[key].link %></a></code>
    <a href="/urls/<%= key %>">Edit</a>
    <form method="POST" action="/urls/<%= key %>/delete">
      <button type="submit">Delete</button>
    </form>

  </li>
  <% } %>
</ul>
<% if (!user) { %>
  <p>Welcome to <code>SuperCoolUrlShortener</code>! Login or register to create shorter links!</p>
<% } else if (!urls) { %>
  <p>You currently don't have any shortened URLs. Click <a href="/urls/new">here</a> to create one.</p>
<% } %>
<a href="/urls/new">Add a new link</a>
<%- include partials/_footer %>
